
<!DOCTYPE html>
<html lang="en">

<head>
    <partial name="_MetaTags"/>
    <title>ادمین | @ViewData["title"]</title>
    <partial name="_HeaderRefertences"/>
</head>

<body class="light rtl">
<partial name="_Loader"/>
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <partial name="_TopNawBar"/>
    @await Component.InvokeAsync("LeftSideBar")
    <section class="content">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </section>
    <partial name="_FooterRefertences"/>
</body>